.home {
  background-color: aqua;
}

.folder {
  cursor: pointer;
  padding: 3px;
  display: flex;
  align-items: center;
}
.files {
  display: none;
  padding: 5px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.files div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 14px;
}
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.slideDown {
    animation: slideDown 0.5s ease-in-out;
}

svg {
  margin: 0;
  padding: 0;
}